@import "bourbon/dist/_bourbon";

#articles {
    .article-wrapper {
        position: relative;
        &:hover > .article-settings {
            right: -30px;
        }
    }

    .article-settings {
        position: absolute;
        top: 5px;
        right: -5px;
        width: 35px;
        border: 1px rgba(50, 50, 50, 0.2) solid;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        @include transition (right 1s cubic-bezier(0.075, 0.820, 0.165, 1.000));

        &:hover {
            right: -30px;
        }

        .published {
            color: #2a6496;
            border-top-right-radius: 5px;
        }

        .delete {
            border-bottom-right-radius: 5px;
            color: #c9302c;
        }

        &>* {
            color: inherit;
            opacity: 0.8;
            text-decoration: none;
            display: block;
            padding: 5px 8px 5px 0;
            float: right;
            width: 100%;
            text-align: right;

            &:hover {
                opacity: 1;
            }
        }

    }
}

.article {
    margin-bottom: 50px;
    position: relative;
    background: white;
    z-index: 5;

    .inPlaceholderMode {
        color: #ddd;
        font-style: italic;
    }

    .title {
        border-bottom: 1px solid #e5e5e5;
        > span {
            padding: 5px;
        }
        .inner-title {
            display: inline-block;
        }
    }

    .article-body {
        min-height: 50px;
    }

    .date {
        padding: 5px;
        &:hover > span.changed {
            right: 20px;
        }
        &>span {
            @include transition (right 0.5s);
            position: absolute;
            right: 5px;
        }
        & .glyphicon {
            @include transition (opacity 0.5s);
            opacity: 0;
            color: orange;
        }
        &:hover .glyphicon {
            opacity: 1;
        }
    }

    .content {
        padding: 5px;
    }

    .tags {
        list-style: none;
        display: inline;
        font-size: 12px;
        position: absolute;
        padding-left: 10px;
        padding-top: 5px;
        margin-bottom: 0;

        li, a {
            position: relative;
            display: inline-block;
            margin-right: 5px;
        }

        li.placeholder {
            opacity: 0.5;
        }

        a {
            margin-left: 10px;
            padding: 2px 5px 3px 6px;
            background: #428bca;
            min-width: 10px;
            min-height: 17px;
            color: #fff;
            text-decoration: none;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;

            // The left triangle
            &:before {
                content: "";
                float: left;
                position: absolute;
                top: 0;
                left: -11.5px;
                width: 0;
                height: 0;
                border-color: transparent #428bca transparent transparent;
                border-style: solid;
                border-width: 9.5px 12px 9.5px 0;
            }

            // The inner dot
            &:after {
                content: "";
                position: absolute;
                top: 8px;
                left: -2px;
                float: left;
                width: 3px;
                height: 3px;
                border-radius: 2px;
                background: #fff;
                box-shadow: -1px -1px 2px #004977;
            }

            &:hover {
                background: #2a6496;
                &:before {
                    border-color: transparent #2a6496 transparent transparent;
                }
            }
        }
    }
}
