@import "bourbon/dist/_bourbon";

.article {
    margin-bottom: 50px;

    .title {
        border-bottom: 1px solid #e5e5e5;
        > span {
            padding: 5px;
        }
    }

    .date {
        padding: 5px;
    }

    .content {
        padding: 5px;
    }

    .tags {
        margin-left: 5px;
        list-style: none;
        padding: 5px;
        display: inline;
        font-size: 65%;
    }

    .tags li, .tags a {
        height: 24px;
        line-height: 24px;
        position: relative;
        font-size: 90%;
        display: inline;
        margin-right: 5px;
    }
}

