-e git+http://github.com/django-nonrel/djangotoolbox@6536b0e6080dce2ad89c22fa4ea671e1f7e817f5#egg=djangotoolbox
-e git+http://github.com/django-nonrel/djangoappengine@d05621d5e06eff957f3d90a5e3bb61767f15cc42#egg=djangoappengine
-e git+http://github.com/django-nonrel/django-dbindexer@445ca9f844bdd3d3136932aa14f1170c7640ae9c#egg=django-dbindexer
-e git+http://github.com/django-nonrel/django@3bba3a7accd542876bde726568dc6bee0018ca00#egg=django-nonrel
-e hg+https://bitbucket.org/twanschik/django-autoload#egg=django-autoload
django-tastypie==0.11.1
